.main-content {
  padding-top: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

paragraph {
  float: left;
  margin: 3% 1.5%;
  width: 60%;
  background-color: #ffb85d;
  padding: 1.5%;
  /*border: 5px solid #337b9f;*/
  font-size: 1.2rem;
  box-shadow: 10px 10px 3px #ff5412;
}


aside {
  float: right;
  margin: 3% 3%;
  width: 30%;
  background-color: #ffb85d;
  padding: 1.5%;
  font: garamond;
  /*border: 5px solid #ff5412;*/
  font-size: 1.2rem;
  box-shadow: 10px 10px 3px #ff5412;
}